@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

body {
  font-size: 18px;
  background-color: hsl(27, 66%, 92%);
  font-family: 'DM Sans', sans-serif;
}

